<li>
    <p>
        <b>
            <%= comment.user.name %>
        </b>
        <%= comment.content %>
        <% if (locals.user && locals.user.id==comment.user.id){ %>
            <a href="/comments/destroy/<%= comment.id %>"><i class="fa-solid fa-trash"></i></a>
        <% } %>
    </p>
</li>