<link rel="stylesheet" href="<%= assetPath('css/_footer.css') %>" />
<div class="footer">
    Thank you for using our application!<br>
    Codeial Social Media<br>
    Privacy Policy<br>
    Terms and Conditions<br>
    Help<br>
</div>