<div id="chatbox">
    <div class="chat_header">codeial chatroom</div>
    <ul id="chat-messages-list">
        
    </ul>
    <form id="send-message">
        <input type="text" class="message" placeholder="Enter a message">
        <button type="submit" >Send</button>
    </form>
</div>