<div id="chatbox">
    <div class="chat_header">Friend_name</div>
    <ul>
        <li class="friend_text"><span>Hello newbie!</span></li>
        <li class="user_text"><span>Howdy stranger?</span></li>
    </ul>
    <form>
        <input type="text" class="message" placeholder="Enter a message">
        <button type="submit">Send</button>
    </form>
</div>