<link rel="stylesheet" href="<%= assetPath('css/sign-in.css') %>" >
<section id="sign-in">
    <form action="/users/create-session" method="POST">
    <h2>SIGN IN</h2>
    <label>Email</label>
    <input type="text" required placeholder="Enter Email" name="email">
    <label>Password</label>
    <input type="password" required placeholder="Enter password" name="password">
    <button type="submit">Sign In</button>
    <p>
        <a class="google-signin" href="/users/auth/google"><i class="fa-brands fa-google" style="color: red"></i> Google Sign In</a>
    </p>
</form>
</section>