<link rel="stylesheet" href="<%= assetPath('css/sign-in.css') %>" >
<section id="sign-in">
    <form action="/users/create" method="POST">
    <h2>SIGN UP</h2>
    <label>EMAIL:</label>
    <input type="text" required placeholder="Enter Email" name="email"><br>
    <label>PASSWORD:</label>
    <input type="password" required placeholder="Enter password" name="password"><br>
    <label>CONFIRM PASSWORD:</label>
    <input type="password" required placeholder="Confirm password" name="confirm_password"><br>
    <label>NAME:</label>
    <input type="text" required placeholder="Enter your Name" name="name"><br>
    <button type="submit">Sign Up</button>
    <p>
        <a class="google-signin" href="/users/auth/google"><i class="fa-brands fa-google" style="color: red"></i> Google Sign Up</a>
    </p>
</form>

</section>