<link rel="stylesheet" href="/css/sign-in.css" >
<section id="sign-in">
<h3>SIGN IN</h3>
<form action="/users/create-session" method="POST">
    <label>EMAIL:</label>
    <input type="text" required placeholder="Enter Email" name="email"><br>
    <label>PASSWORD:</label>
    <input type="password" required placeholder="Enter password" name="password"><br>
    <input type="submit" value="SIGN IN"><br>
</form>
<p>
    <a href="/users/auth/google">Google Sign In</a>
</p>
</section>