<link rel="stylesheet" href="<%= assetPath('css/sign-in.css') %>" >
<section id="sign-in">
<h3>SIGN UP</h3>
<form action="/users/create" method="POST">
    <label>EMAIL:</label>
    <input type="text" required placeholder="Enter Email" name="email"><br>
    <label>PASSWORD:</label>
    <input type="password" required placeholder="Enter password" name="password"><br>
    <label>CONFIRM PASSWORD:</label>
    <input type="password" required placeholder="Confirm password" name="confirm_password"><br>
    <label>NAME:</label>
    <input type="text" required placeholder="Enter your Name" name="name"><br>
    <input type="submit" value="SIGN UP"><br>
</form>
<p>
    <a href="/users/auth/google">Google Sign In</a>
</p>
</section>