header{
    background-color: var(--color-header);
    padding-left: 7rem;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 1rem 0;
        margin: 0;
        align-items: center;
        justify-content: flex-end;
        .title-name{
            position: absolute;
            left: 7rem;
            font-weight: 600;
            font-size: 2rem;
            color: white;
            display: inline;
            text-decoration: none;
        }
        .tabs {
            font-size: 1.25rem;
            margin: 0 2rem;
            a{
                text-decoration: none;
                color: var(--color-grey-text);
            }
        }
    }
    .user-name {
        align-items: center;
        display: flex;
        width: fit-content;
        img {
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
          border-radius: 1.5rem;
        }
        a{
          color: var(--color-dark-text);
          text-decoration: none;
        }
    }
}


