header{
    background-color: rgb(255, 93, 244);
    padding-left: 7rem;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 1rem 0;
        margin: 0;
        align-items: center;
        justify-content: flex-end;
        .title-name{
            position: absolute;
            left: 7rem;
            font-weight: 600;
            font-size: 2rem;
            color: white;
            display: inline;
        }
        .tabs {
            font-size: 1.25rem;
            margin: 0 2rem;
            a{
                text-decoration: none;
                color: rgb(225, 225, 225)
            }
        }
    }
}


