#chatbox {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 30px;
    background-color: var(--color-lighter-background);
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    overflow: hidden;
    .chat_header{
        border-bottom: 1px solid black;
        text-align: left;
        padding: 5px 1rem;
        background-color: var(--color-header);
        position: relative;
        color: white;
    }
    ul{
        position: relative;
        padding: 0;
        li{
            margin: 15px 10px;
            .sender_name{
                font-size: 0.75rem;
                display: block;
                margin-bottom: 0.5rem;
            }
            .text_message{
                padding: 5px 1rem;
                border-radius: 10px;
                width: fit-content;
                border-radius: 10px;
            }  
        }
        .friend_text{
            text-align: left;
            .text_message{
                background-color: rgb(251, 237, 255);
            }
        }
        .user_text {
            text-align: right;
            .text_message{
                background-color: rgb(252, 203, 255);
            }
        }
    }
    #send-message{
        position: absolute;
        bottom: 10px;
        left: 1rem;
        input{
            padding: 5px 10px;
            border-radius: 10px;
            border: 1px solid black;
            width: 12rem;
        }
        button{
            background-color: var(--color-header);
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px 10px;
        }
    }
}