.post-comments-list{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        margin: 1rem 0;
        .comment-details{
            display: flex;
            flex-direction: row;
            position: relative;
            img{
                height: 2rem;
                width: 2rem;
                border-radius: 1rem;
                margin-right: 0.7rem;
            }
            .name{
                color: rgb(147, 37, 143);
                text-decoration: none;
                position: relative;
                top: 0.3rem;
            }
        }
        .comment-content{
            margin-left: 2.7rem;
            position: relative;
            bottom: 0.4rem;
            margin-bottom: 0.5rem;
        }
        .comment-likes{
            .delete-comment{
                margin-left: 2rem;
            }
        }
        
    }
}