h1{
    margin: 0 7rem;
}
#display-posts dl dt{
    margin-top: 2rem;
}
a{
    color: black;
    text-decoration: none;
}
.home_container{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 0 7rem;
    
}
i{
    color: rgb(255, 110, 175);
}