.home_container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 7rem;
}
#new-post-form {
  textarea {
    border: 2px solid rgb(255, 128, 247);
    resize: none;
  }
  .upload-design {
    position: relative;
    margin-top: -5px;
    width: 24.38rem;
    height: 2rem;
    padding: 0;
    background-color: rgb(255, 128, 247);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    .submit-button {
      position: absolute;
      right: 0.1rem;
      top: 0.1rem;
      border: none;
      height: 1.75rem;
      width: 4rem;
      background-color: white;
      font-size: 1.1rem;
      color: rgb(255, 61, 242);
      border-radius: 1rem;
    }
  }
}

//aside section
#user-friends {
  border-left: 1px solid white;
  box-shadow: 3px -2px 4px rgb(255, 204, 246) inset;
  padding-left: 2rem;
  width: 14rem;
  color: rgb(147, 37, 143);
  h3 {
    color: rgb(147, 37, 143);
  }
}
.user-name {
    align-items: center;
    display: flex;
    width: fit-content;
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      border-radius: 1.5rem;
    }
    a{
      color: rgb(147, 37, 143);
      text-decoration: none;
    }
}